
*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background-color:  #486BC7 !important;
}

.page-container {
    margin-inline: auto !important;
    text-align: center !important;
    font-family: 'Nunito',sans-serif !important;
}

.btn {
    display: block !important;
    padding: 7px 14px !important;
    background-color: #00b0ff !important;
    border: none !important;
    border-radius: 4px;
    color: #fafafa !important;
    cursor: pointer !important;
}
